.separator {
  height: 100%;
  width: 2px;
  align-self: center;
  background-color: black;
  transform: translateX(1);
}

span {
  cursor: pointer;
}

.t {
  display: flex;
  align-items: center;
}

.next {
  transform: scale(0.7);
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}

.next:hover {
  transform: scale(1);
}

.previous {
  position: absolute;
  left: 28rem;
  z-index: 900;
  transform: scale(0.7);
  align-items: center;
  transition: all 0.2s ease;
}

.previous:hover {
  transform: scale(1);
}

.t {
  overflow-x: hidden;
}

.sep {
  max-width: 960px;
  display: flex;
  flex-direction: row;
  flex: 1 1 260px;
  flex-wrap: wrap;
  transition: all 0.3s ease-in-out;
}

.choices {
  display: flex;
  align-content: content;
  height: 118px;
}

.choiceText {
  align-self: center;
  margin-left: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-family: 'Atma', cursive;
  font-weight: 700;
  color: #444;
}

.aChoice {
  display: grid;
  height: 100%;
  grid-template-columns: 100px 4px 340px;
  margin-left: 0.2rem;
  align-self: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1120px) {
  .next,
  .previous {
    display: none;
  }
  .t {
    overflow-x: visible;
  }
  .sep {
    max-width: 400px;
  }

  .aChoice {
    height: 7rem;
  }
}

@media (max-width: 760px) {
  .choiceText {
    max-width: 65vw;
    font-size: 0.75rem;
  }
}

@media (max-width: 550px) {
  .sep,
  .aChoice {
    max-width: 65vw;
  }
}
