.home {
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.section1 {
  margin-top: 2rem;
}

.section2 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 5rem auto;
}

.section3 {
  margin-bottom: 5rem;
}
