.section {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 8rem;
  background-color: white;
}

.divText {
  position: absolute;
  margin: 3rem 0 1rem 0;
}

.history {
  max-width: 960px;
  margin-bottom: 2rem;
}

.history p:first-of-type {
  margin-top: 3rem;
}

.history p {
  line-height: 1.3;
  color: #333;
}

.niceDisplay {
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.07);
  border-radius: 40px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  z-index: 2;
  padding-bottom: calc((1 / 16) * 100%);
}

.div2 img,
.div3 img,
.div4 img {
  width: 260px;
  height: 170px;
  border-radius: 45px;
  margin-bottom: 1rem;
}

.div1 img {
  width: 100%;
  height: 100%;
  border-radius: 45px;
}

.div1 {
  margin-top: 10rem;
  width: 285px;
  height: 427px;
}

.div2 {
  display: block;
  margin-top: 7rem;
}

.div3 {
  display: block;
  margin-top: 4rem;
}

.div4 {
  display: block;
  margin-top: 1rem;
}

.waves {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: -4.3rem;
  left: 0;
  right: 0;
  width: 100vw;
  transition: all 2s ease-out;

  transform: rotate(180deg);
}

.wave1 {
  animation: moveWave1 8s ease-in-out infinite alternate;
}

@keyframes moveWave1 {
  from {
    transform: translateX(-2000px);
  }
}

.wave-2 {
  animation: moveWave2 20s 10s ease-in-out infinite alternate;
}

@keyframes moveWave2 {
  from {
    transform: translateX(-1800px);
  }
}

.wave3 {
  animation: moveWave3 20s 7s ease-in-out infinite alternate;
}

@keyframes moveWave3 {
  from {
    transform: translateX(-1600px);
  }
}

@media (max-width: 767px) {
  .div2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    gap: 1rem;
    margin-top: 1rem;
  }

  .div3 {
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    justify-content: center;
    width: 200px;
    gap: 1rem;
    margin-top: 1rem;
  }

  .div4 {
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    justify-content: center;
    width: 200px;
    gap: 1rem;
    margin-top: 1rem;
  }
}
