.section {
  margin: 0 3rem;
  margin-top: 2rem;
}

/* texto de introdução */

.history {
  max-width: 960px;
  font-size: 1.09rem;
  margin-bottom: 5rem;
}

.history p:first-of-type {
  margin-top: 3rem;
}

.history p {
  line-height: 1.3;
  color: #333;
}

/* criadores do site fictício */

.aboutUs {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-around;
  padding: 3rem;
  background: linear-gradient(to right top, #65dfc9, #32aac9);
  border-radius: 20px;
}

.p1 .element,
.p2 .element {
  position: relative;
  z-index: 2;
  width: 150px;
  height: 150px;
}

.p1,
.p2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.25);
  padding: 2.7rem;
  border-radius: 20px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(3rem);
  margin-bottom: 30px;
}

.p1 .bg,
.p2 .bg {
  position: absolute;
  z-index: -5;
  width: 180px;
  height: 180px;
  right: 0;
  bottom: 0;
}

.text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.text p {
  font-family: 'Atma', sans-serif;
  text-align: center;
  font-weight: 500;
  color: #333;
  font-size: 1.2rem;
  line-height: 1.2;
  position: absolute;
}

.text h3 {
  position: absolute;
  font-family: 'Atma', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  z-index: 5;
  top: -35px;
}

.p1 div img,
.p2 div img {
  width: 75%;
  height: 75%;
  border-radius: 50%;
}

/* arrumação elegante das fotos dos cachorros */

.niceDisplay {
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.07);
  border-radius: 40px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  z-index: 2;
  padding: 0 0 3rem 0;
}

.div2 img,
.div3 img,
.div4 img {
  width: 260px;
  height: 170px;
  border-radius: 45px;
  margin-bottom: 1rem;
}

.div1 img {
  width: 100%;
  height: 100%;
  border-radius: 45px;
}

.div1 {
  margin-top: 10rem;
  width: 285px;
  height: 427px;
}

.div2 {
  margin-top: 7rem;
}

.div3 {
  margin-top: 4rem;
}

.div4 {
  margin-top: 1rem;
}

.divText {
  position: absolute;
  margin: 8rem 0 0 2rem;
}

/* ondas do site*/
.waves {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: -4.3rem;
  left: 0;
  right: 0;
  width: 100vw;
  transition: all 2s ease-out;
  transform: rotate(180deg);
}

.wave1 {
  animation: moveWave1 8s ease-in-out infinite alternate;
}

@keyframes moveWave1 {
  from {
    transform: translateX(-2000px);
  }
}

.wave-2 {
  animation: moveWave2 20s 10s ease-in-out infinite alternate;
}

@keyframes moveWave2 {
  from {
    transform: translateX(-1800px);
  }
}

.wave3 {
  animation: moveWave3 20s 7s ease-in-out infinite alternate;
}

@keyframes moveWave3 {
  from {
    transform: translateX(-1600px);
  }
}

@media (max-width: 956px) {
  .div2 {
    margin-top: 1rem;
  }

  .div3 {
    margin-top: 1rem;
  }

  .section {
    margin: 0 auto;
    transform: scale(0.9);
  }
}
