.header {
  display: flex;
  position: relative;
  padding: 1.1rem;
  z-index: 1001;
  padding-left: 4rem;
}

.ball {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
  background: radial-gradient(
    circle at bottom,
    #81e8f6,
    #76deef 10%,
    #055194 80%,
    #062745 100%
  );
}
.ball:before {
  content: '';
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
  filter: blur(5px);
  z-index: 2;
}
.ball:after {
  content: '';
  position: absolute;
  display: none;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  filter: blur(1px);
  z-index: 2;
  transform: rotateZ(-30deg);
}

.ball.bubble {
  background: radial-gradient(
    circle at 50% 55%,
    rgba(240, 245, 255, 0.9),
    rgba(240, 245, 255, 0.9) 40%,
    rgba(225, 238, 255, 0.8) 60%,
    rgba(43, 130, 255, 0.4)
  );
  animation: bubble-anim 6s ease-out infinite;
}
.ball.bubble:before {
  filter: blur(0);
  height: 80%;
  width: 40%;
  background: radial-gradient(
    circle at 130% 130%,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 46%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.8) 58%,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
}
.ball.bubble:after {
  display: block;
  background: radial-gradient(
    circle at 50% 80%,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0) 74%,
    white 80%,
    white 84%,
    rgba(255, 255, 255, 0) 100%
  );
}

.stage {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 30%;
  top: -2%;
}

@keyframes bubble-anim {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scaleY(0.95) scaleX(1.05);
  }

  48% {
    transform: scaleY(1.1) scaleX(0.9);
  }

  68% {
    transform: scaleY(0.98) scaleX(1.02);
  }

  80% {
    transform: scaleY(1.02) scaleX(0.98);
  }

  97%,
  100% {
    transform: scale(1);
  }
}

.nav {
  width: 70%;
  height: 1rem;
  display: flex;
  justify-content: flex-end;
}

.nav a {
  position: relative;
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  align-items: center;
}

.nav ul {
  display: flex;
  flex-direction: row;
  gap: 2.2rem;
  margin: 0.5rem 1rem;
  text-decoration-line: none;
}

.nav ul li a::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 3px;
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.2s ease;
  background-color: #2a02f0;
}

.nav ul li a:hover::before {
  transform: scaleX(1);
}

.img img {
  width: 192px;
  height: 192px;
  border-radius: 50%;
  background: #eff;
}

.name {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  font-family: Roboto;
  line-height: 0.5;
}

.hamPosition {
  display: none;
}

@media (max-width: 768px) {
  .stage {
    width: 180px;
    height: 180px;
    right: 30%;
  }
  .img img {
    width: 120px;
    height: 120px;
  }
  .nav {
    display: none;
  }

  .hamPosition {
    display: block;
    position: absolute;
    right: 2rem;
    margin-top: 0.8rem;
    cursor: pointer;
    transition: 0.4s;
  }

  .navBurguerClosed {
    position: relative;
    width: 35px;
    height: 5px;
    background-color: #333;
    transition: 0.4s;
  }
  .navBurguerClosed::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -8px;
    background-color: #333;
    transition: 0.4s;
  }
  .navBurguerClosed::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 8px;
    background-color: #333;
    transition: 0.4s;
  }

  .navBurguerOpen {
    position: relative;
    left: 16rem;
    top: -20rem;
    width: 40px;
    height: 5px;
    background-color: #333;
    transition: 0.4s;
    transform: rotate(-45deg) translate(-8px, 4px);
    cursor: pointer;
  }

  .navBurguerOpen::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 100%;
    background-color: #333;
    transform: rotate(90deg) translate(1px, 0px);
  }
  .navOpened {
    position: absolute;
    top: 0;
    right: 4rem;
    width: 15rem;
    height: 20rem;
    border-radius: 20px;
    transition: all 0.4s ease-out;
    background-color: #0f92f0;
    cursor: default;
  }

  .navStyle {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    line-height: 4rem;
    font-size: 1.3rem;
    font-weight: 700;
  }

  .navStyle a {
    color: black;
  }
}

@media (max-width: 440px) {
  .header {
    padding-left: 0.4rem;
  }
}
