.section {
  margin: 0 2rem;
}

.tables {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 2rem 0;
}

.monthTable,
.trimestralTable {
  text-align: center;
  flex-grow: 2;
  min-width: calc(50vw - 4rem);
  color: white;
  font-weight: bold;
  padding: 2rem 1rem;
  font-size: 2rem;
  background: #0fb6d1;
}

.trimestralTable {
  background: #1d00bc;
}

.separator {
  border-color: #aaa;
  box-sizing: border-box;
}

.button:hover {
  background: darkblue;
}

@media (max-width: 600px) {
  .monthTable,
  .trimestralTable {
    font-size: 1.5rem;
    padding: 1rem;
  }
}
