@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@400;500;700&display=swap');
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Atma', cursive;
  overflow-x: hidden;
}

li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

main {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

main::after {
  content: '';
  display: block;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

.text h1 {
  margin: 0;
  line-height: 3.4rem;
  font-weight: 700;
  font-size: 2.5rem;
}
.text h1 strong {
  color: #2a02f0;
}

.normalText {
  line-height: 2;
  font-size: 1.2rem;
  color: #777;
}

.textP {
  color: #333;
  margin: 1.6rem 0;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.button {
  margin-top: 2rem;
  max-width: 300px;
  max-height: 100px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background: #1d00bc;
  border-radius: 70px 15px 15px 15px;
  border: 3px ridge #0fb6d1;
  padding: 2rem;
  transition: all 0.2s ease;
}

.button:hover {
  background: darkblue;
}

[data-anime] {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

[data-anime='left'] {
  transform: translate3d(-100px, 0, 0);
}

[data-anime='right'] {
  transform: translate3d(100px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

@media (max-width: 768px) {
  .text h1 {
    line-height: 2.8rem;
    font-size: 1.8rem;
  }

  .text {
    text-align: center;
  }
}
